
/* HEADER */

.header {
  height: 76px;
  border-bottom: 1px solid #777;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  font-size: 35px;
}

.logo h2 {
  margin: 0;
  font-size: 20px;
}

.logo p {
  margin: 2px 0 0;
  font-size: 9px;
}

nav {
  display: flex;
  gap: 30px;
}

nav a,
.footer a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.cart {
  font-size: 20px;
}

button {
  border: none;
  background: #ed171b;
  color: #fff;
  border-radius: 25px;
  padding: 15px 32px;
  font-weight: bold;
  cursor: pointer;
}

